.navbar-nav{
    align-items: center;
}
.menubar {
    font-size: 18px;
    font-weight: 600;
    color: black !important;
    margin-left: 15px;
    text-decoration: none;
}
.menubar button{
    background-color: rgb(255, 1, 149);
    padding: 10px 26px;
    border: none;
    outline: none;
}
.navbar-nav :hover{
    color: rgb(241, 85, 176) !important;
}
.navbar-nav :hover button{
    color: white !important;
    background-color: rgb(241, 85, 176) !important;
}

