.project input{
    margin-right: 10px;
    width: 40%;
    padding: 10px;
    outline: none;
    border: none;
}
.project textarea {
    margin-right: 10px;
    width: 80%;
    height: 150px;
    padding: 10px;
    outline: none;
    border: none;
}